article.svelte-1ajaxub{display:flex;gap:1em;width:90%;height:30%;flex-wrap:wrap;justify-content:center}img.svelte-1ajaxub{width:100px;height:100px;object-fit:contain}h1.svelte-1ajaxub{text-transform:capitalize}
